$title-font: 'Open Sans', sans-serif;
$body-font: 'Lato', sans-serif;
$body-color: #797979;
$title-color: #111;
$title-color-white: #fff;
$title-color-hover: #1a4ceb;
$font-size:16px;
$transition: all 0.5s;

@mixin for-big-desktop-large {
  @media (max-width: 1400px) { @content; }
}
@mixin for-big-desktop-up {
  @media (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (max-width: 991px) { @content; }
}
@mixin for-teblet-up {
  @media (max-width: 767px) { @content; }
}
@mixin for-mobile-up {
  @media (max-width: 580px) { @content; }
}
@mixin for-small-mobile-up {
  @media (max-width: 480px) { @content; }
}
@mixin for-small-mobile-landscrap-up {
  @media (max-width: 380px) { @content; }
}
@mixin for-extra-small-mobile-up {
  @media (max-width: 320px) { @content; }
}
/*--width 1400 --*/
@include for-big-desktop-large {    
 
}
/*--width 1199 --*/
@include for-big-desktop-up {    
	.sb_banner_form_main_wrapper{
		.sb_banner_form_box_wrapper{
			.sb_banner_form_inner_box_wrapper{
				.sb_form_box{
					width:14.5%;
				}
			}
		}
	}   
}
/*--width 991 --*/
@include for-desktop-up {    
  .sb_navbar_wrapper{
	nav{
		li{
			margin-left:20px;
		}
	}
  }
  .sb_sw_login_wrapper{
	ul{
		li{
			&:first-child{
				display:none;
			}
		}
	}
  }
  .sb_sw_login_wrapper{
	width:160px;
  }
  .sb_navbar_wrapper{
	width:calc(100% - 160px);
  }
  .sb_banner_form_main_wrapper{
		.sb_banner_form_box_wrapper{
			.sb_banner_form_inner_box_wrapper{
				.sb_form_box{
					width:47%;
					    margin-bottom: 30px;
				}
			}
		}
	} 
	.sb_proper_main_wrapper{
		.sb_proper_inner_main_box_wrapper{
			.sb_proper_tabs_wrapper{
				width:100%;
				.nav-tabs{
					.nav-link.active:after{
						display:none;
					}
				}
			}
			.sb_proper_img_main_section{
				width:100%;
				.sb_proper_img_wrapper{
					width:100%;
				}
				.sb_proper_list_wrapper{
					width:100%;
				}
			}
		}
	}
	.right_border,.left_border{
		&:after{
			display:none;
		}
	}	
	.sb_footer_main_wrapper{
		.sb_footer_right_cont_wrapper{
			padding-top:0;
		}
	} 
}
/*--width 767 --*/
@include for-teblet-up {    
   .sb_navbar_wrapper{
		text-align:left;
		nav{
			float:left;
			padding: 0;
			    width: 100%;
				button{
					float: right;
					width: 100%;
					margin-top: -60px;
					    padding: 0;
					.ss_menu_btn{
						padding-bottom:30px;
					}
				}
				li{
					padding-top:15px;
					padding-bottom:15px;
					&:hover a:after,&.active a:after{
						right:auto;
					}
					a{
						color:$title-color;
						&:after{
							right:auto;
						}
					}
					&:hover,&.active{
						a{
							color:#0e5f5a;
							&:after{
								border: 1px solid #0e5f5a;
							}
						}
					}
				}
			.navbar-collapse{
				position:absolute;
				width:100%;
				top:100%;
				background:$title-color-white;
				border:2px solid #eee;
				z-index:100;
				padding-bottom: 20px;
				padding-top: 10px;
			}
			}
	}
	.menu_fixed{
		padding-bottom:0 !important;
	}
	.sb_main_header_wrapper{
		padding-bottom:0;
	}
	.navbar-dark{
		.navbar-toggler{
			border:0;
		}
	} 
	.sb_sw_login_wrapper{
		display:none;
	}
	.sb_navbar_wrapper{
		width:100%;
	}
	.sb_banner_content_wrapper{
		.sb_banner_cont_iner_wrapper{
			padding-top: 60px;
			h3{
				font-size: 40px;
				line-height: 50px;
				padding-bottom: 15px;
			}	
			h4{
				font-size: 18px;
				padding-bottom: 20px;
				line-height: 28px;
			}
		}
	}	
	.sb_navbar_wrapper {
		position: relative;
		margin-top: -60px;
	}
	.sb_banner_form_main_wrapper{
		.sb_banner_form_box_wrapper{
			h3{
				font-size:18px;
			}
			.sb_banner_form_inner_box_wrapper{
				.sb_form_box{
					width:100%;
					margin-right:0;
				}
			}
		}
	}
	.sb_heading_wrapper{
		h3{
			font-size:26px;
			padding:0 10px;
		}
	}
	.sb_proper_main_wrapper{
		.sb_proper_inner_main_box_wrapper{
			.sb_proper_img_main_section{
				.sb_proper_img_wrapper{
					img{
						height:auto;
					}
				}
			}
		}
	}
	.sb_about_main_wrapper{
		background:$title-color;
		.sb_abt_img{
			margin-top:30px;
		}
	}
	.sb_testimonial_main_wrapper{
		
		.sb_testimonial_slider_wrapper{
			.os_index5_testimonial_slider_img_cont{
				width:100%;
				padding-left:0;
			}
		}
	}	
	.sb_footer_main_wrapper{
		.sb_footer_left_cont_wrapper{
			padding-bottom:0;
		}
		.sb_footer_center_cont_wrapper {
				text-align: left;
				padding-top: 80px;
				padding-bottom: 80px;
				padding-left: 0;
				padding-right: 0;
			}
	} 
}
/*--width 580 --*/
@include for-mobile-up {    
  
}
/*--width 480 --*/
@include for-small-mobile-up {    
  
}
/*--width 380 --*/
@include for-small-mobile-landscrap-up {    
   
}
/*--width 320 --*/
@include for-extra-small-mobile-up {    
   
}