

/************************-- FOOTER CSS START --********************************/


.sb_bottom_footer_main_wrapper{
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid rgba(255, 255, 255, 0.14901960784313725);
	text-align:center;
	background:#019cde;
	.sb_bootom_footer_cont{

		p{
			color:$title-color-white;
			float: left;
			a{
				color:$title-color-white;
			}
		}
		.social_icon{
			float: right;
			li{
				display: inline-block;
    			margin-left: 14px;
    			a{
				color:$title-color-white;
			}
			}
		}
	}
}